_site
.sass-cache
.jekyll-metadata
.DS_store
.ruby-version
Gemfile.lock

assets/pdf/cv_sdaza.aux
assets/pdf/cv_sdaza.log
assets/pdf/cv_sdaza.out
assets/pdf/cv_sdaza.pdf
assets/pdf/cv_sdaza.synctex.gz
assets/pdf/cv_sdaza.pdf
